<mat-card class="contenedor-login"> 
    
        <form >
            <mat-card-header class="header-login">
                <div>
                    <i class="bi bi-person-circle"></i>
                </div>
                <h2>Iniciar sesión</h2>
            </mat-card-header>
            <mat-card-content class="content-login row">
                <mat-error *ngIf="!validarLogin">El usuario o contraseña no son correctos</mat-error>
                <mat-form-field>
                    <input matInput placeholder="E-Mail">
                </mat-form-field>
                <mat-form-field>
                    <input matInput type="password" placeholder="Contraseña">
                </mat-form-field>
                <a href="">Olvide mi contraseña</a>
            </mat-card-content>
            
            <mat-card-footer class="footer-login row">
                <button mat-raised-button color="primary">Ingresar</button>
                <span (click)="redirectToRegister()">Registrarme</span>
                <!-- <a href="" >Registrarme</a> -->
            </mat-card-footer>            
        </form>
</mat-card>